<h1>Generic Social Site</h1>
{% with messages = get_flashed_messages() %}
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
{% endwith %}
{% block body %}{% endblock %}
{% if current_user %}
<form method="POST" action ="/logout">
	{{csrf_helper()}}
	<button type="submit">logout</button>
</form>
{% else %}
<p><a href="{{oauth_link}}">Login with Facebook</a></p>
<p><a href="/signup">Sign Up</a></p>
{% endif %}
<p><a href="/users">Users</a></p>
<p><a href="/friends">Friends</a>
<p><a href="/requests">Friend Requests</a></p>
